extends ../mainLayout

block additionalHeadElementContent
    // CodeMirror stylesheet
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css')
    // YASHE stylesheet
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.min.css')

    // CodeMirror dependencies
    script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js')
    // YASHE dependencies
    script(src='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.bundled.min.js')

    // Client-side JavaScript: ShareYASHE implements collaborativity
    script(type='module', src='/scripts/shareyashe.js')

    // Username is passed to the client-side JavaScript which connects to the WebSockets server
    script(type='text/javascript')
        if username
            | const shareYASHEusernameGotFromViewEngine = (new String("#{username}")).toString();
block mainElementContent
    h2=title
    p ShareYASHE lets you edit this document in real time with other people. You can do this document by copying the link of this website, or clicking in the share button of the editor.
    p This ShEx document is owned by:#{' '}
        each owner in shExDocOwners
            | #{owner}#{', '}
    textarea
