doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title=title

        meta(name='author', content='Iván Álvarez López')
        meta(name='description', content='Collaborative Cloud-based ShEx Editor')
        meta(name='keywords', content='yashe,shex,uniovi,eii')

        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        if requestedScripts
            link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css')
            link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.min.css')

            script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js')
            script(src='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.bundled.min.js')
            each requestedScript in requestedScripts
                script(type='module', src='/scripts/' + requestedScript)
    body
        header
            h1=title
            p Collaborative Cloud-based ShEx Editor
            if username
                p Welcome, #{username}!
            else
                p Welcome! You're not logged in yet.
            if message
                p=message
            nav
                a(title='Main page', accesskey='M', tabindex='1', href='/') Main page
                a(title='Create sheet', accesskey='C', tabindex='2', href='/createSheet') Create sheet
                if username
                    a(title='Log out', accesskey='L', tabindex='3', href='/logout') Log out
                else
                    a(title='Log in', accesskey='L', tabindex='3', href='/login') Log in
                    a(title='Register', accesskey='R', tabindex='4', href='/register') Register
        aside
            if username && ownedSheets && ownedSheets.length > 0
                figure
                    figcaption Your sheets
                    ul
                        each sheet in ownedSheets
                            li
                                a(href='/sheet/' + sheet.sheetId) #{sheet.title}
            else
                p You do not have any sheet yet.
        main
            block mainElementContent
        footer
            p This is a Degree Project for the Bachelor's Degree in Software Engineering.
            a(href='https://ingenieriainformatica.uniovi.es/') School of Computer Engineering of Oviedo
            p Made by Iván Álvarez López
            a(href='mailto:ial.navy@protonmail.ch') ial.navy@protonmail.ch