extends ../mainLayout

block additionalHeadElementContent
    // ShareYASHE actions layout
    if shExDoc.owners.includes(username)
        link(rel='stylesheet', type='text/css', href='/stylesheets/shareYasheFullLayout.css')

    // CodeMirror stylesheet
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css')
    // YASHE stylesheet
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.min.css')

    // CodeMirror dependencies
    script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js')
    // YASHE dependencies
    script(src='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.bundled.min.js')

    // Client-side JavaScript: ShareYASHE implements collaborativity
    script(type='module', src='/scripts/shareyashe.js')

    // Username is passed to the client-side JavaScript which connects to the WebSockets server
    script
        if username
            | const shareYASHEusernameGotFromViewEngine = (new String("#{username}")).toString();
block mainElementContent
    h2=title
    if shExDoc.owners.includes(username)
        section
            h3 Actions you can perform
            form(action='/leaveOwnership/' + shExDoc._id.toString(), method='get')
                input(type='submit' value='Leave as doc owner')
            form(action='/addOwner/' + shExDoc._id.toString(), method='post')
                label(for='fNewOwner') Add new owner:#{' '}
                input(type='text', id='fNewOwner', name='newOwner', required)
                input(type='submit' value='Add owner')
    section
        h3 Collaborative ShEx document
        p ShareYASHE lets you edit this document in real time with other people. You can do this by copying the link of this website, or clicking in the share button of the editor.
        p This ShEx document is owned by:#{' '}
            each owner in shExDoc.owners
                | #{owner}#{', '}
        p
            label(for='yasheEditor') Editor
        textarea(id='yasheEditor')
